@charset "UTF-8";

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    display: flex;
    flex-direction: column; 
    justify-content: center;
    align-items: center;
    height: 100vh; 
     background-image: url(../images/1634.jpg); 
    background-size: cover;
}

h1 {
    margin-bottom: 20px; 
}

.navbar {
    display: grid;
    grid-template-columns: repeat(3, 1fr); 
    gap: 20px; 
    width: 80%; 
    max-width: 800px; 
}

.nav-box {
    background-color: red; /* Light red */
    color: white; 
    padding: 20px; 
    text-align: center;
    border-radius: 8px;
    transition: background-color 0.3s ease, transform 0.2s ease; 
    cursor: pointer; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    text-decoration: none; 
    font-size: 1.2em; 
}

.nav-box:hover {
    background-color: white; 
    color: red; 
    transform: scale(1.05); 
}
